.toolbar {
  position: absolute;
  left: 16px;
  bottom: 100px;
  width: 42px;
  height: 150px;
  z-index: 10;
  border: 1px solid #e5e8f0;
  border-radius: 4px;
  display: flex;
  justify-content: center;

  &-item {
    height: 32px;
    width: 32px;
    padding: 5px;
    cursor: pointer;
  }
}